---
import companylogo from "../assets/braytron-footer-logo.svg";
import facebook from "../assets/socials-img/facebook.svg";
import instagram from "../assets/socials-img/instagram.svg";
import linkedin from "../assets/socials-img/linkedin.svg";
---

<div class="footer-container">
  <div class="footer-wrapper">
    <div class="logo"><img src={companylogo.src} alt="Braytron_Logo" /></div>
    <div class="links">
      <ul>
        <li>Company</li>
        <li>Catalog</li>
        <li>Contact</li>
      </ul>
    </div>
    <div class="socials">
      <a href="https://www.instagram.com/itsbrayton/"
        ><img src={instagram.src} alt="Instagram_Logo" /></a
      >
      <a href="https://www.facebook.com/braytron/"
        ><img src={facebook.src} alt="Facebook_Logo" /></a
      >
      <a href="https://rs.linkedin.com/company/braytron">
        <img src={linkedin.src} alt="Linkedin_Logo" /></a
      >
    </div>
  </div>
  <div class="border"></div>

  <div class="footer-contact">
    <p id="address">Skopje 1000 Skopje, North Macedonia</p>
    <div class="contact">
    <p>Phone : 02 100 100</p>
    <p>Email : info@braytron.com</p>
    </div>
  </div>
</div>

<style>
  .footer-container {
    width: 100%;
    margin: 0 auto;
    background-color: #005bb5;
  }

  .footer-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem;
  }

  .logo-image img {
    width: 120px;
  }

  .links ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
  }

  .links ul li {
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    padding: 8px 10px;
    width: 80px;
    text-align: center;
    color: white;
  }

  .socials {
    display: flex;
    gap: 20px;
    width: 190px;
  }
  .socials img {
    width: 30px;
    gap: 15px;
  }

  .border {
    width: 90%;
    margin: 25px auto;
    border: 1px solid navy;
  }

  .footer-contact {
    color: white;
  }
  .footer-contact #address{
    text-align: center;
    line-height: 0;
  }

  .contact {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
</style>
