---
import Button from "./Button.astro"
---

<div class="newsletter-container">
  <div class="newsletter-wrapper">
    <div class="text">
      <p>Subscribe to our newsletter</p>
      <p>Subscribe to our newsletter to be informed about the campaigns!</p>
    </div>
    <div class="input">
      <Button class="btn" link= "/contact"/>
    </div>
  </div>
</div>

<style>
  .newsletter-container {
    background-color: #ecf4ff;
    width: 90%;
    margin: 50px auto;
    border-radius: 8px;


  }
  .newsletter-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
  }

  .text {
    :nth-child(1) {
      font-size: 2.2rem;
      font-weight: 700;
      margin: 0;
    }
  }
  .input {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  @media screen and (max-width: 768px) {
    .newsletter-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }

    .text {
      text-align: center;
      :nth-child(1) {
        font-size: 1.8rem;
        line-height: 1;
        font-weight: 700;
      }
    }

    .input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }
    .input input {
      width: 200px;
      margin: 10px 0;
    }
  }
</style>
